html {
	height:88%;
}

body, .tm-partials, .tm-live-map-row, .tm-live-map-col {
    height: 100%;
    width: 100%;
}

.angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
}