html {
	height:92%;
}

body, .tm-partials, .tm-live-map {
    height: 100%;
    width: 100%;
}

.angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.navbar {
	margin-bottom: 0px;
}

/*
.tm-live-container {
	padding-right: 0px;
  	padding-left: 0px;
}
*/

.badge {
	background-color: #D50000;
}

.dropdown-toggle {
	cursor: pointer;
}


.tm-live-map {
	z-index: 1;
	position: fixed;
}

.tm-live-container {
	z-index: 2;
	position: relative;
}

.tm-live-search {
	opacity: 0.75
}