html {
	height:92%;
}

body, .tm-partials, .tm-live-map {
    height: 100%;
    width: 100%;
}

.angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.navbar {
	margin-bottom: 0px;
}

/*
.tm-live-container {
	padding-right: 0px;
  	padding-left: 0px;
}
*/

.badge {
	background-color: #FF5252;
}

.dropdown-toggle {
	cursor: pointer;
}


.tm-live-map {
	z-index: 1;
	position: fixed;
}

.tm-live-container {
	z-index: -1;
	position: relative;
}

.tm-tab {
	border-bottom: Solid;
	border-bottom-color: WhiteSmoke;
	border-left: Solid;
	border-right: Solid;
	border-left-color: WhiteSmoke;
	border-right-color: WhiteSmoke;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-right-width: 1px;
	height: 35px;
	display: flex;
	justify-content: center; 
	align-items: center; 
	color: #424242;
}

.tm-tab-active {
	border-bottom-color: #FF5252;
}

