/* GENERAL */

html {
	height:92%;
}

body, .tm-partials, .tm-live-map {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Slab',sans-serif;
}

.navbar {
	margin-bottom: 0px;
}


.badge {
	background-color: LightCoral;
}

.dropdown-toggle {
	cursor: pointer;
}

.tm-logo {
	height: 24px;
}

.tm-heading {
	font-weight: bold;
}

hr {
	border-color: LightGray;
}


/* FOR LIVE VIEW */

.angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
}


.tm-live-map {
	z-index: 1;
	position: fixed;
}

.tm-live-overlay {
	z-index: 1;
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 20%;
}

.tm-overlay-unit {
	color: #424242;
}

.tm-live-summary {
	background-color: White;
	opacity: 0.75;
	padding:5px;
}

.tm-live-today {
	margin-bottom: 0px;
}

.tm-live-distance {
	margin-top: 5px;
}

.tm-marker-label {
	font-style: italic;
	padding: 1px;
}

.glyphicon-arrow-up {
	color: #689F38;
}

.glyphicon-arrow-down {
	color: LightCoral;
}

.tm-search-group {
	background-color: LightGray;
}

.tm-marker-img {
	height:40px;
}

/* FOR TRIP METRICS */

.tm-tab {
	border-bottom: Solid;
	border-bottom-color: WhiteSmoke;
	border-left: Solid;
	border-right: Solid;
	border-left-color: WhiteSmoke;
	border-right-color: WhiteSmoke;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-right-width: 1px;
	height: 35px;
	display: flex;
	justify-content: center; 
	align-items: center; 
	color: #424242;
}

.tm-tab-active {
	border-bottom-color: LightCoral;
}

.tm-summary-tab {
	border-top-width: 0px;
	border-bottom: Solid;
	border-bottom-color: LightGray;
	border-bottom-width: 1px;
	height: 30px;
	display: flex;
	justify-content: center; 
	align-items: center; 
	color: #424242;
}

.tm-summary-tab-active {
	border-bottom-width: 0px;
	border-top: Solid;
	border-top-color:  LightGray;
	border-top-width: 1px;
	border-left: Solid;
	border-left-color:  LightGray;
	border-left-width: 1px;
	border-right: Solid;
	border-right-color:  LightGray;
	border-right-width: 1px;
}

.tm-trip-summary {
	background-color: #EFEBE9;
}

/*
.tm-card {
	background-color: WhiteSmoke;
	padding: 20px;
	border: Solid;
	border-width: 10px;
	border-color: White;
}
*/

.tm-card-wrap {
	padding-left: 5px;
	padding-right: 5px;
}

.tm-card {
	border: Solid;
	border-width: 2px;
	border-color: #EFEBE9;
	background-color: #EFEBE9;
	padding: 10px;
	margin: 10px;
	box-shadow: 2px 2px 1px LightGray;
	cursor: pointer;
}

.tm-card:hover {
	box-shadow: 3px 3px 2px LightGray;
}

.btn-info {
	background-color: LightCoral;
	border-color: LightCoral;
}

.btn-info:hover {
	background-color: #D87373;
	border-color: #D87373;
}

/* FOR CAR METRICS */

.tm-good-health {
	color: #689F38;
}

.tm-car-summary {
	background-color: #ECEFF1;
}

.tm-marker {
	padding-top: 20px;
}

.tm-marker:hover {
	opacity: 0.60;
	cursor: pointer;
}

.tm-car-card {
	border: Solid;
	border-width: 2px;
	border-color: #ECEFF1;
	background-color: #ECEFF1;
	padding: 10px;
	margin: 10px;
	box-shadow: 2px 2px 1px LightGray;
	cursor: pointer;
}

.tm-car-card:hover {
	box-shadow: 3px 3px 2px LightGray;
}

/* FOR ALERTS */

.tm-alerts-summary {
	background-color: WhiteSmoke;
}