html {
	height:92%;
}

body, .tm-partials, .tm-live-map {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Slab',sans-serif;
}

.angular-google-map-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.navbar {
	margin-bottom: 0px;
}


.badge {
	background-color: #FF5252;
}

.dropdown-toggle {
	cursor: pointer;
}


.tm-live-map {
	z-index: 1;
	position: fixed;
}

.tm-live-overlay {
	z-index: 1;
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 20%;
}

.tm-overlay-unit {
	color: #424242;
}

.tm-live-summary {
	background-color: White;
	opacity: 0.75;
	padding:5px;
}

.tm-live-today {
	margin-bottom: 0px;
}

.tm-live-distance {
	margin-top: 5px;
}

/* FOR METRICS */

.tm-tab {
	border-bottom: Solid;
	border-bottom-color: WhiteSmoke;
	border-left: Solid;
	border-right: Solid;
	border-left-color: WhiteSmoke;
	border-right-color: WhiteSmoke;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-right-width: 1px;
	height: 35px;
	display: flex;
	justify-content: center; 
	align-items: center; 
	color: #424242;
}

.tm-tab-active {
	border-bottom-color: #FF5252;
}

.glyphicon-arrow-up {
	color: #689F38;
}

.tm-marker-label {
	font-style: italic;
	padding: 1px;
}