<script type="text/ng-template" id="typeaheadCarElement.html">
  <a>
      <span bind-html-unsafe="match.label"></span>
      <p><small>Car</small></p>
  </a>
</script>
<div class="container-fluid">
	<div class="row">
		<a href="#/trips">
			<div class="col-xs-4 tm-tab">
				<span>Trips</span>
			</div>
		</a>
		<a href="#/cars">
			<div class="col-xs-4 tm-tab tm-tab-active">
				<span>Cars</span>
			</div>
		</a>
		<a href="#/drivers">
			<div class="col-xs-4 tm-tab">
				<span>Drivers</span>
			</div>
		</a>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-8 tm-trips-chart">
			<br/>
			<h5 class="tm-heading"><span class="glyphicon glyphicon-chevron-right"></span> Cars Summary</h5>
			<br/>
				<div class="row">
					<a href="#/trips">
						<div class="col-xs-4 tm-summary-tab tm-summary-tab-active">
							<span>Daily</span>
						</div>
					</a>
					<a href="#/cars">
						<div class="col-xs-4 tm-summary-tab">
							<span>Monthly</span>
						</div>
					</a>
					<a href="#/drivers">
						<div class="col-xs-4 tm-summary-tab">
							<span>Yearly</span>
						</div>
					</a>
				</div>
			<br/>
			<highchart id="carsChart" config="carsChartConfig"></highchart>
		</div>
		<div class="col-xs-12 col-md-4 tm-car-summary">
			<br/>
			<h5 class="tm-heading"><span class="glyphicon glyphicon-chevron-right"></span> Statistics</h5>
			<small>Jun 21, 2015 upto Now</small>
			<hr/>
			<div class="row">
				<div class="col-xs-8">
						<h2>58 cars<small> (-4) <span class="glyphicon glyphicon-arrow-down"></small></h2>
						<small>70 licences</small>
				</div>
				<div class="col-xs-4">
						<h2><span class="glyphicon glyphicon-heart tm-good-health"></span></h2>
						<small>Health</small>
				</div>
			</div>
			<br/><br/>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-xs-12">
			<h5 class="tm-heading"><span class="glyphicon glyphicon-chevron-right"></span> Search Cars</h5>
			<br/>
			<div class="input-group">
		      <!--<input type="text" class="form-control" placeholder="Search for Location / Vehicle ID / Driver Name">-->
		      <input type="text" ng-model="searchTerm" placeholder="Search by Car" typeahead="term as term.name for term in matchingTerms | filter:{name:$viewValue}" typeahead-template-url="typeaheadCarElement.html" class="form-control">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
		      </span>
		    </div><!-- /input-group -->
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<p class="text-muted">Recently Searched</p>
		</div>
	</div>
	<div class="row">
				<div class="col-xs-12 col-md-6 col-lg-4 tm-card-wrap" ng-repeat="car in searchedCars">
					<div class="tm-car-card" ng-click="cardClicked()">
						<div class="row">
							<div class="col-xs-3 col-md-3">
								<h4>#{{car.id}}</h4>
								<small>Car ID</small>
							</div>
							<div class="col-xs-3 col-md-3">
								<h4>{{car.status}}</h4>
								<small>for {{car.time}}</small>
							</div>
							<div class="col-xs-6 col-md-6">
								<h4 class="text-right">{{car.distance}} km | {{car.trips}} trips</h4>
								<p class="text-right"><small>Today</small></p>
							</div>
						</div>
						<hr/>
						<div class="row">
							<div class="col-xs-12 col-md-12">
								<p>@{{car.location}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
	<br/><br/><br/>
</div>