<script type="text/ng-template" id="typeaheadElement.html">
  <a>
      <span bind-html-unsafe="match.label"></span>
      <p><small>Location</small></p>
  </a>
</script>
<div class="container-fluid">
	<div class="row">
		<div class="input-group tm-search-group">
	      <!--<input type="text" class="form-control" placeholder="Search for Location / Vehicle ID / Driver Name">-->
	      <input type="text" ng-model="searchTerm" placeholder="Search for Location / Vehicle ID / Driver Name" typeahead="term as term.name for term in matchingTerms | filter:{name:$viewValue}" typeahead-template-url="typeaheadElement.html" class="form-control">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
	      </span>
	    </div><!-- /input-group -->
	</div>
	<div class="row">
		<div class="tm-live-map">
			<ui-gmap-google-map center='map.center' zoom='map.zoom'>
				<!--<ui-gmap-marker coords="car.coords" options="car.options" events="car.events" idkey="car.id"></ui-gmap-marker>-->
				<ui-gmap-markers models="cars.models" coords="'self'" options="'options'" events="cars.events"></ui-gmap-markers>
			</ui-gmap-google-map>
		</div>
	</div>
</div>

<div class="container-fluid tm-live-overlay">
	<div class="row">
		<div class="col-xs-6 col-md-9">
		</div>
		<div class="col-xs-6 col-md-3 tm-live-summary">
			<p class="tm-live-today">Today</p> 
			<h1 class="tm-live-distance">{{distanceCovered}} <small class="tm-overlay-unit">km <span class="glyphicon glyphicon-arrow-up"></span></small></h1>
			<h4>{{activeCabs}} <small class="tm-overlay-unit">running</small> | {{idleCabs}} <small class="tm-overlay-unit">idle</small></h4>
		</div>
	</div>
</div>
