<div class="row">
	<a href="#/trips">
		<div class="col-xs-4 tm-tab tm-tab-active">
			<span>Trips</span>
		</div>
	</a>
	<a href="#/cars">
		<div class="col-xs-4 tm-tab">
			<span>Cars</span>
		</div>
	</a>
	<a href="#/drivers">
		<div class="col-xs-4 tm-tab">
			<span>Drivers</span>
		</div>
	</a>
</div>
<br/>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h5>Trips Summary</h5>
			<br/>
			<highchart id="tripsChart" config="tripsChartConfig" class="tm-trips-chart"></highchart>
		</div>
	</div>
</div>